<a href="https://colab.research.google.com/github/uonoo/300prob/blob/main/300prob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 ~ 10

1. 화면에 Hello World 문자열을 출력하세요.
2. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
3. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)  
: 신씨가 소리질렀다. "도둑이야".
4. 화면에 "C:\Windows"를 출력하세요.
5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.  
: print("안녕하세요.\n만나서\t\t반갑습니다.")
6. print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.  
: print ("오늘은", "일요일")
7. print() 함수를 사용하여 다음과 같이 출력하세요.  
: naver;kakao;sk;samsung
8. print() 함수를 사용하여 다음과 같이 출력하세요.  
: naver/kakao/sk/samsung
9. 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.  
: print("first");print("second")
10. 5/3의 결과를 화면에 출력하세요.

In [ ]:
print("Hello World")
print('Hello World')
print("Mary's cosmetics")
print("C:\Windows")
print("안녕하세요.\n만나서\t\t반갑습니다") #\n은 줄 넘기기, \t는 탭키
print("오늘은", "일요일")
print("naver", "kakao", "sk", "samsung", sep = ";")
print("naver", "kakao", "sk", "samsung", sep = "/")
print("first", end = ""); print("second")
print(5/3)

Hello World
Hello World
Mary's cosmetics
C:\Windows
안녕하세요.
만나서		반갑습니다
오늘은 일요일
naver;kakao;sk;samsung
naver/kakao/sk/samsung
firstsecond
1.6666666666666667

#11 ~ 20

11. 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
12. 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.  
항목 값  
시가총액	298조  
현재가	50,000원  
PER	15.79
13. 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.  
s = "hello", t = "python"  
두 변수를 이용하여 아래와 같이 출력해보세요.  
실행 예: hello! python
14. 아래 코드의 실행 결과를 예상해보세요.  
: 2 + 2 * 3 
15. type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.  
: a = 128  
: print (type(a))  
<class 'int'>
아래 변수에 바인딩된 값의 타입을 판별해보세요.  
: a = "132"
16. 문자열 '720'를 정수형으로 변환해보세요.  
: num_str = "720"
17. 정수 100을 문자열 '100'으로 변환해보세요.  
: num = 100
18. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
19. year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.  
: year = "2020"
20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [ ]:
삼성전자 = 50000 # 바인딩
총평가금액 = 삼성전자 * 10 # 바인딩
print(총평가금액)
시가총액 = 298000000000000 # 바인딩
현재가 = 50000 # 바인딩
PER = 15.79 # 바인딩
print(시가총액, type(시가총액))
print(현재가, type(50000))
print(PER, type(PER))
s = "hello"
t = "python" # 바인딩 할 때는 한 열에 하나씩
print(s + "!", t) 
print(2 + 2 * 3) # 계산
a = 128
print(type(a)) # 타입 표현
a = 132
print(type(a))
num_str = 720
num_int = int(num_str) # 정수, 실수, 문자열 변환 int(내용)
print(num_int, type(num_int))
num = 100
result = str(num)
print(type(result))
data = "15.79"
data = float(data)
print(data, type(data))
year = "2020"
print(int(year) - 3)
print(int(year) - 2)
print(int(year) - 1)
aircon = 48584
총금액 = aircon * 36
print(총금액)

500000
298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>
hello! python
8
<class 'int'>
<class 'int'>
720 <class 'int'>
<class 'str'>
15.79 <class 'float'>
2017
2018
2019
1749024

# 21 ~ 30

21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.  
letters = 'python' (실행 예: p t)

In [ ]:
lang = "python"
print(lang[0], lang[2])

p t

22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.  
: license_plate = "24가 2210" (실행 예: 2210)

In [ ]:
license_plate = "24가 2210"
print(license_plate[4:])
print(license_plate[-4:])

2210
2210

23. 아래의 문자열에서 '홀' 만 출력하세요.  
: string = "홀짝홀짝홀짝" (실행 예: 홀홀홀)

In [ ]:
string = "홀짝홀짝홀짝"
print(string[::2]) # 슬라이싱할 때 "시작인덱스:끝인덱스:오프셋"으로 사용할 수 있다

홀홀홀

24. 문자열을 거꾸로 뒤집어 출력하세요.  
: string = "PYTHON" (실행 예: NOHTYP)

In [ ]:
string = "PYTHON"
print(string[::-1])

NOHTYP

25. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.  
: phone_number = "010-1111-2222" (실행 예: 010 1111 2222)

In [ ]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

26. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요. (실행 예:01011112222)

In [ ]:
phone_number2 = phone_number.replace("-", "")
print(phone_number2)

01011112222

27. url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.  
: url = "http://sharebook.kr" (실행 예: kr)

In [14]:
url = "http://sharebook.kr"
print(url[17:])
print(url[-2:])
url_split = url.split('.')
print(url_split)
print(url_split[1])
url_split2 = url.split(':')
print(url_split2)

kr
kr
['http://sharebook', 'kr']
kr
['http', '//sharebook.kr']

28. 아래 코드의 실행 결과를 예상해보세요.  
: lang = 'python'  
: lang[0] = 'P'  
: print(lang)

In [ ]:
lang = 'python'
# lang[0] = P # lang의 0번째 위치는 p인데 P로 바꾸라고 명령하는건 실행되지 않는다. 문자열은 변경되지 않는다.
print(lang[0])
print(lang)

p
python

29. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.  
: string = 'abcdfe2a354a32a' (실행 예: Abcdfe2A354A32A)

In [ ]:
string = 'abcdfe2a354a32a'
string1 = string.replace("a", "A")
print(string1)

Abcdfe2A354A32A

30. 아래 코드의 실행 결과를 예상해보세요.  
: string = 'abcd'  
: string.replace('b', 'B')  
: print(string)

In [ ]:
string = 'abcd' # 자료형 문자열
string.replace('b', 'B') # replace한다는 걸 새로운 항목에 바인딩 해주지 않았기 때문에 결과는 abcd로 그대로 출력된다.
print(string)
string1 = string.replace('b', 'B')
print(string1)

abcd
aBcd

# 31 ~ 40

31. 아래 코드의 실행 결과를 예상해보세요.  
: a = "3", b = "4"  
: print(a + b)

In [16]:
a = "3" # 문자열, "", ''는 문자열을 만드는 기호이다. 문자열은 고정이 되어버리면 변경불가
b = "4"
print(a + b)

34

32. 아래 코드의 실행 결과를 예상해보세요.  
: print("Hi" * 3)

33. 화면에 '-'를 80개 출력하세요. (실행 예: --------------------------------------------------------------------------------)

34. 변수에 다음과 같은 문자열이 바인딩되어 있습니다.  
: t1 = 'python', t2 = 'java'  
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.  
(실행 예: python java python java python java python java)

In [ ]:
print("Hi" * 3)
print("-" * 80)
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print((t1 + ' ' + t2 + ' ') * 4) # 방법은 다양하게 있고 최대한 효율적으로 사용할 수 있도록 하자, 좀 더 쉽게 간단한 코드를 이용해서
print(t3 * 4)
print(t1, t2, t1, t2, t1, t2, t1, t2, sep = ' ')

HiHiHi
--------------------------------------------------------------------------------
python java python java python java python java
python java python java python java python java
python java python java python java python java

35. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.  
name1 = "김민수"  
age1 = 10  
name2 = "이철희"  
age2 = 13  
이름: 김민수 나이: 10  
이름: 이철희 나이: 13

In [ ]:
name1 = '김민수'
age1= 10
name2 = '이철희'
age2 = 13
print("이름: {0} 나이: {1}".format(name1, age1))
print("이름: %s 나이: %s" % (name1, age1)) # %s는 문자열, %d는 정수를 불러온다
print("이름: %s, 나이: %s" % (name2, age2))
print("I ate %s apples yesterday." % (5))

이름: 김민수 나이: 10
이름: 김민수 나이: 10
이름: 이철희, 나이: 13
I ate 5 apples yesterday.

36. 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
print("이름: {0} 나이: {1}".format(name1, age1))
print("이름: {0} 나이: {1}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

37. 이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
print(f"이름:{name1} 나이:{age1}")

이름:김민수 나이:10

38. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.  
: 상장주식수 = "5,969,782,550"

In [ ]:
상장주식수 = "5,969,782,550"
주식수 = 상장주식수.replace(",", "")
print(주식수)
주식수1 = int(주식수)
print(type(주식수1))

5969782550
<class 'int'>

39. 다음과 같은 문자열에서 '2020/03'만 출력하세요.  
분기 = "2020/03(E) (IFRS연결)"

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7]) # 복잡하게 생각하지 말자

2020/03

40. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.  
data = "   삼성전자    "

In [ ]:
data = "   삼성전자   "
print(data)
data1 = data.strip()
print(data1)

   삼성전자
삼성전자

# 41 ~ 50

41. 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.  
ticker = "btc_krw"

In [ ]:
ticker = "btc_krw"
ticker1 = ticker.upper() # 대문자 변환
print(ticker1)

BTC_KRW

42. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.  
ticker = "BTC_KRW"

In [ ]:
ticker2 = "BTC_KRW" 
ticker3 = ticker2.lower() # 소문자 변환
print(ticker3)

btc_krw

43. 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [1]:
he = "hello"
he1 = he.capitalize()
print(he1)

Hello

44. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.  
file_name = "보고서.xlsx"

In [12]:
file_name = "보고서.xlsx" # 문장 마지막이 어떻게 되는가 확인하기 위한 방법
file_name.endswith("xlsx")

True

45. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.  
file_name = "보고서.xlsx"

In [5]:
file_name.endswith(("xlsx" , "xls")) # 확인을 할 때 ()를 두번 사용해야 한다.

True

46. 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.  
file_name = "2020_보고서.xlsx"

In [13]:
file_name1 = "2020_보고서.xlsx"
file_name1.startswith("2020")

True

47. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.  
a = "hello world"

In [31]:
a = "hello world"
print(a)
print(a[5])
# a.split(" ") # 문자열을 분리해준다
b = a.split(" ") # 공백을 기준으로 문자열로 바인딩한다
print(b)
print(b[1])
print(b[1][4]) # 문자열 안에서 또다른 인덱스를 확인 할 때 이렇게 사용

hello world

['hello', 'world']
world
d

48. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.  
ticker = "btc_krw"

In [38]:
ticker = "btc_krw"
ticker.split("_") # 아무런 의미가 없는 행이 되어버린다. 28, 30번과 동일한 사유이다.
print(ticker.split("_")) # 이렇게 바인딩을 해줘도 되나 제목이 길어지게 되고 일회성이 되어버리므로 5행의 바인딩으로 하는것이 좋다.
print(ticker)
ticker1 = ticker.split("_")
print(ticker1)

['btc', 'krw']
btc_krw
['btc', 'krw']

49. 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.  
date = "2020-05-01"

In [37]:
date = "2020-05-01"
print(date.split("-"))
date1 = date.split("-")
print(date1)

['2020', '05', '01']
['2020', '05', '01']

50. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.  
data = "039490     "

In [41]:
data = "039490   "
print(data)
data1 = data.rstrip()
print(data1)

039490
039490

# 51 ~ 60

51. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)  
순위	영화  
1	닥터 스트레인지  
2	스플릿  
3	럭키

In [7]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

52. 51의 movie_rank 리스트에 "배트맨"을 추가하라.

In [8]:
movie_rank.append("배트맨") # 리스트형 자료 추가는 append명령어를 사용, 따로 바인딩 없이 추가됨
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']